<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
     </ion-buttons>
    <ion-title>¿Quienes somos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-justify">
    Somos una empresa comercializadora de
    computo,internet rural, mobiliaria, escolar,
    articulos deportivos,articulos
    de oficina y linea blanca.
  </p>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>SUCURSAL MARTINEZ</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-label><ion-icon name="home-outline"></ion-icon>Ignacio allende, 112 col. centro</ion-label><br>
        <ion-label><ion-icon name="mail-outline"></ion-icon>efralej90@hotmail.com</ion-label><br>
        <ion-label><ion-icon name="call-outline"></ion-icon>+01 232 32 45 794</ion-label><br>
        <ion-label><ion-icon name="logo-facebook"></ion-icon>"Y2k Systemas" comercializadora</ion-label>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>SUCURSAL MISANTLA</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-label><ion-icon name="home-outline"></ion-icon>Av. Avila Camacho, 101 col. centro</ion-label><br>
        <ion-label><ion-icon name="mail-outline"></ion-icon>efralej90@hotmail.com</ion-label><br>
        <ion-label><ion-icon name="call-outline"></ion-icon>+01 235 32 34 687</ion-label><br>
        <ion-label><ion-icon name="logo-facebook"></ion-icon>"Y2k Systemas" comercializadora</ion-label>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
